
.worlds {
    margin-top: 1rem;
}

.region-worlds {
    margin-bottom: 1rem;
}

.lang-worlds {
    column-width: 12rem;
}

.worlds-lang {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: .5rem;
}
