.worlds {
	@include media-breakpoint-up(md) {
		flex-flow: row nowrap;
	}

	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0 auto;
}

.worlds-regions {
	@include media-breakpoint-up(md) {
		display: inline-block;
	}

	display: block;
	margin-bottom: 1rem;
	page-break-inside: avoid;
}

.region-worlds {
	@include media-breakpoint-up(md) {
		width: 47.5vw;
		max-width: 40em;
	}

	display: block;
	margin-bottom: 1rem;

	.card-content {
		padding: 0;
	}
}

.overview-lang-worlds {
	columns: 12rem auto;
	column-fill: auto;
}

.overview-world {
	a {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: 0 1.5em;
		font-size: .8rem;
		page-break-inside: avoid;

		i {
			margin-right: 1rem;
			font-size: 1.3rem;
		}

		span {
			width: 100%;
			max-width: 100%;
			padding: 1.5rem 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		&:hover {
			background-color: $gray-lightest;
			text-decoration: none;
		}
	}
}
