.worlds {
	// margin-top: 4rem;
	max-width: 17rem * 4;
	margin: 0 auto;
	columns: 24rem auto;
	column-gap: 1rem;
	column-fill: auto;
}

.region-worlds {
	padding: .25rem 0;
	page-break-inside: avoid;

	.card-content {
		padding: 0;
	}
}

.overview-lang-worlds {
	columns: 12rem auto;
	column-fill: auto;
}

.overview-world {
	a {
		display: inline-flex;
		align-items: center;
		width: 100%;
		height: 4rem;
		padding: 0 1rem;
		font-size: 1.1rem;
		page-break-inside: avoid;

		&:hover {
			background-color: $gray-lightest;
		}
	}
}
