.jobs-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .job {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    & + .job {
    }
  }

  .job-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .job-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    a {
      display: block;
      align-items: center;

      & + a {
        margin-left: 1rem;
      }

      &.btn-outline-secondary {
        border: none;
        color: rgba(0,0,0,.5);
        text-decoration: underline;

        &:hover {
          background-color: transparent;
        color: rgba(0,0,0,.8);
        }
      }
    }
  }

  .job-detail {
    // width: 33%;
    // display: flex;

  }

  .job-detail-label {
    font-size: .7rem;
  }
}
