
.guild-objective {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	padding: .1rem 0;
	font-size: .8rem;

	.objective-timer {
		width: 2.5rem;
		text-align: center;
	}

	.objective-icon {
		display: flex;
		justify-content: center;
		width: 2rem;

		svg {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
		}
	}

}
