.icon-link, .directory-places li a, .programs-list .list li a, .institution-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-link.disabled, .directory-places li a.disabled, .programs-list .list li a.disabled, .institution-nav ul li a.disabled {
  color: #636c72;
  cursor: not-allowed;
}

.icon-link:hover, .directory-places li a:hover, .programs-list .list li a:hover, .institution-nav ul li a:hover {
  background-color: #f7f7f9;
  text-decoration: none;
}

.icon-link i, .directory-places li a i, .programs-list .list li a i, .institution-nav ul li a i, .icon-link span, .directory-places li a span, .programs-list .list li a span, .institution-nav ul li a span {
  display: block;
}

.icon-link i, .directory-places li a i, .programs-list .list li a i, .institution-nav ul li a i {
  color: rgba(2, 90, 165, 0.2);
  width: 4rem;
  text-align: center;
  padding: 1rem 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-link i.fa-external-link, .directory-places li a i.fa-external-link, .programs-list .list li a i.fa-external-link, .institution-nav ul li a i.fa-external-link {
  width: 2rem;
}

.icon-link span, .directory-places li a span, .programs-list .list li a span, .institution-nav ul li a span {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1;
}

.icon-link, .directory-places li a, .programs-list .list li a, .institution-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-link.disabled, .directory-places li a.disabled, .programs-list .list li a.disabled, .institution-nav ul li a.disabled {
  color: #636c72;
  cursor: not-allowed;
}

.icon-link:hover, .directory-places li a:hover, .programs-list .list li a:hover, .institution-nav ul li a:hover {
  background-color: #f7f7f9;
  text-decoration: none;
}

.icon-link i, .directory-places li a i, .programs-list .list li a i, .institution-nav ul li a i, .icon-link span, .directory-places li a span, .programs-list .list li a span, .institution-nav ul li a span {
  display: block;
}

.icon-link i, .directory-places li a i, .programs-list .list li a i, .institution-nav ul li a i {
  color: rgba(2, 90, 165, 0.2);
  width: 4rem;
  text-align: center;
  padding: 1rem 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-link i.fa-external-link, .directory-places li a i.fa-external-link, .programs-list .list li a i.fa-external-link, .institution-nav ul li a i.fa-external-link {
  width: 2rem;
}

.icon-link span, .directory-places li a span, .programs-list .list li a span, .institution-nav ul li a span {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 1rem;
  margin: 0;
}

.navbar .navbar-brand img {
  width: 32px;
  margin-right: 8px;
}

.navbar .navbar-brand span {
  font-size: 24px;
  font-weight: 300;
  font-family: "Lato";
  padding-right: 1rem;
}

.navbar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1rem;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.jumbotron {
  color: #fff;
  margin: 0;
  padding: 0;
}

.jumbotron header {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.jumbotron h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
}

@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 3rem;
  }
}

footer {
  text-align: center;
  font-size: .7rem;
  line-height: 1.6;
  margin: 2rem 0;
}

footer p, footer ul, footer li {
  margin: 0;
  padding: 0;
}

footer a {
  color: #000;
  opacity: .7;
}

footer a:hover {
  opacity: 1;
}

footer .legal li {
  margin: 0 1rem;
}

.jumbotron {
  margin-bottom: 0;
}

.breadcrumb-item .fa {
  margin-right: .3em;
}

.card .card-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-header h1,
.card .card-header h2,
.card .card-header h3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding: 0;
}

.jumbotron .jumbo-header-main {
  padding: 4rem 0;
}

.jumbotron .jumbo-header-sub {
  margin-top: -2rem;
  padding: 1.4rem 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron .jumbo-header-sub h2 {
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0;
  margin: 0;
}

td.num, th.num {
  text-align: right;
}

.jobs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs-list .job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs-list .job-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs-list .job-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jobs-list .job-bar a {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jobs-list .job-bar a + a {
  margin-left: 1rem;
}

.jobs-list .job-bar a.btn-outline-secondary {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.jobs-list .job-bar a.btn-outline-secondary:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

.jobs-list .job-detail-label {
  font-size: .7rem;
}

.route-home .list-directory {
  -webkit-column-width: 15rem;
          column-width: 15rem;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .route-home .list-directory {
    -webkit-column-width: 100%;
            column-width: 100%;
  }
}

.route-home .list-directory > li:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.route-home .list-directory a {
  color: #4096C4;
  display: block;
  line-height: 3rem;
  height: 3rem;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route-home .list-directory a:hover {
  background-color: #f7f7f9;
}

.route-home .list-directory a.active {
  font-weight: bold;
}

@media (max-width: 767px) {
  .route-home .list-directory a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
    line-height: 1;
    height: 4rem;
    background-color: #f7f7f9;
    margin: 1px;
    padding: 0 1rem;
    overflow: ellipsis;
    overflow: hidden;
  }
}

.route-home .list-directory > li {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.route-home .list-directory > li ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .route-home .list-directory > li ul {
    display: none;
  }
}

.route-home .list-directory > li ul li {
  font-size: .9rem;
  line-height: inherit;
}

.route-home .list-directory > li ul li a {
  padding-left: 1.5rem;
  opacity: .8;
}

.directory-places {
  padding-left: 0;
  list-style: none;
  display: block;
  margin: 0 0 2rem 0;
  -webkit-column-width: 12em;
          column-width: 12em;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.directory-places li {
  display: inline-block;
  width: 100%;
  padding-bottom: 4px;
}

.directory-places li a {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.directory-places li a span {
  text-indent: -1rem;
  padding-left: 1.2rem;
  line-height: 1.2;
  font-size: .7rem;
  margin-top: 1.5rem;
}

.directory-places li a span::first-line {
  font-size: 1rem;
}

.loading-card {
  padding: 20px;
}

.institution-buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  .institution-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.institution-buttons .btn {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1px;
  max-width: 33%;
}

@media (max-width: 575px) {
  .institution-buttons .btn {
    max-width: initial;
    width: 100%;
  }
}

.card-list {
  -webkit-column-width: 20rem;
          column-width: 20rem;
}

.card-list > .card {
  display: inline-block;
  width: 100%;
  margin: 4px 4px 1rem;
}

.programs-list .card-block {
  margin: 0;
  padding: 0 0 2rem;
}

.programs-list .list {
  margin: 0;
  padding: 0;
  -webkit-column-width: 18em;
          column-width: 18em;
}

.programs-list .list li {
  display: inline-block;
  width: 100%;
}

.programs-list .list li a span {
  text-indent: -.5rem;
  padding-left: .5rem;
  line-height: 1.2;
  font-size: .8rem;
}

.programs-list .list li a span::first-line {
  font-size: 1rem;
}

.institution-nav ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  -webkit-column-width: 18em;
          column-width: 18em;
}

.institution-nav ul li {
  display: inline-block;
  width: 100%;
}

.institution-nav ul li .sharingbuttons {
  margin-top: 1rem;
  padding: 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.institution-nav .card-header + ul {
  padding-top: 0;
}

.route-home .list-directory {
  -webkit-column-width: 15rem;
          column-width: 15rem;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .route-home .list-directory {
    -webkit-column-width: 100%;
            column-width: 100%;
  }
}

.route-home .list-directory > li:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.route-home .list-directory a {
  color: #4096C4;
  display: block;
  line-height: 3rem;
  height: 3rem;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route-home .list-directory a:hover {
  background-color: #f7f7f9;
}

.route-home .list-directory a.active {
  font-weight: bold;
}

@media (max-width: 767px) {
  .route-home .list-directory a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
    line-height: 1;
    height: 4rem;
    background-color: #f7f7f9;
    margin: 1px;
    padding: 0 1rem;
    overflow: ellipsis;
    overflow: hidden;
  }
}

.route-home .list-directory > li {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.route-home .list-directory > li ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .route-home .list-directory > li ul {
    display: none;
  }
}

.route-home .list-directory > li ul li {
  font-size: .9rem;
  line-height: inherit;
}

.route-home .list-directory > li ul li a {
  padding-left: 1.5rem;
  opacity: .8;
}

.directory-places {
  padding-left: 0;
  list-style: none;
  display: block;
  margin: 0 0 2rem 0;
  -webkit-column-width: 12em;
          column-width: 12em;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.directory-places li {
  display: inline-block;
  width: 100%;
  padding-bottom: 4px;
}

.directory-places li a {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.directory-places li a span {
  text-indent: -1rem;
  padding-left: 1.2rem;
  line-height: 1.2;
  font-size: .7rem;
  margin-top: 1.5rem;
}

.directory-places li a span::first-line {
  font-size: 1rem;
}

.loading-card {
  padding: 20px;
}

.institution-buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  .institution-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.institution-buttons .btn {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1px;
  max-width: 33%;
}

@media (max-width: 575px) {
  .institution-buttons .btn {
    max-width: initial;
    width: 100%;
  }
}

.card-list {
  -webkit-column-width: 20rem;
          column-width: 20rem;
}

.card-list > .card {
  display: inline-block;
  width: 100%;
  margin: 4px 4px 1rem;
}

.programs-list .card-block {
  margin: 0;
  padding: 0 0 2rem;
}

.programs-list .list {
  margin: 0;
  padding: 0;
  -webkit-column-width: 18em;
          column-width: 18em;
}

.programs-list .list li {
  display: inline-block;
  width: 100%;
}

.programs-list .list li a span {
  text-indent: -.5rem;
  padding-left: .5rem;
  line-height: 1.2;
  font-size: .8rem;
}

.programs-list .list li a span::first-line {
  font-size: 1rem;
}

.institution-nav ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  -webkit-column-width: 18em;
          column-width: 18em;
}

.institution-nav ul li {
  display: inline-block;
  width: 100%;
}

.institution-nav ul li .sharingbuttons {
  margin-top: 1rem;
  padding: 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.institution-nav .card-header + ul {
  padding-top: 0;
}

.alert-primary {
  background-color: #0275d8;
  border-color: #0275d8;
  color: #fff;
}

.alert-primary hr {
  border-top-color: #0267bf;
}

.alert-primary .alert-link {
  color: #e6e6e6;
}

.scroll-to-top i {
  display: block;
}

.card, .alert {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.card:hover, .alert:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.card-header {
  margin-top: 1rem;
  background-color: #fff !important;
}

.gas-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.gas-container:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=maps/app.css.map */
