
.match-maps {
	@include media-breakpoint-up(xl) {
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	display: flex;
	flex-flow: column nowrap;
}

.match-map {
	width: 100%;

	header {

		h1 {
			font-size: 2rem;
			font-weight: 100;
			text-align: center;
		}

		.match-scores {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			font-size: .8rem;

			& > div {
				width: 33.3%;
				text-align: center;
			}

			.match-scores-label {
				align-self: flex-start;
				font-weight: bold;
				text-align: left;
			}

		}
	}

	.match-map-objectives {
		@include media-breakpoint-up(xl) {
			columns: 1 auto;
		}

		columns: auto 20rem;
		column-fill: auto;
	}

	.objectives-type {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		// width: 100%;
		padding:  .5rem 0;
		break-inside: avoid;
	}

	.objectives {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		width: 100%;
	}

	.objective {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 20rem;
		margin: 0 auto;
		padding: .1rem 0;
		font-size: .8rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		.objective-cooldown {
			width: 2rem;
			font-size: .6rem;
			text-align: center;

			&.spotlight {
				background-color: #ff0;
			}
		}

		.objective-name {
			max-width: 10rem;
			margin-right: auto;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.guild {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			.guild-text {
				display: flex;
				flex-flow: row nowrap;
				padding-right: .2rem;
				// width: 3rem;
				font-size: .6rem;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.guild-icon {
				img {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}
