
@import "./state";
@import "./city";


.directory-places {
  @include list-unstyled;
  
  display: block;
  margin: 0 0 2rem 0;

  column-width: 12em;
  column-gap: 2rem;

  li {
      display: inline-block;
      width: 100%;
      padding-bottom: 4px;

      a {
        @extend .icon-link;
        
        align-items: flex-start;

        span {
          text-indent: -1rem;
          padding-left: 1.2rem;
          line-height: 1.2; 
          font-size: .7rem;
          margin-top: 1.5rem;

          &::first-line {
            font-size: 1rem; 
          }
        }
        
      }
  }
  
}
