
@import './header';
@import './card';

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.layout {
	padding: .4rem;
	transition: border-color linear 1s, background-color linear 1s;
	background-color: $gray-lightest;
}

.match-team-red {
	.layout {
		$bg-color: desaturate(lighten($red-bg, 5), 10);
		$bg-color-2: $red-bg;

		background-image: linear-gradient(135deg, $bg-color 0%, $bg-color-2 100%);
	}
}

.match-team-green {
	.layout {
		$bg-color: desaturate(lighten($green-bg, 5), 10);
		$bg-color-2: $green-bg;

		background-image: linear-gradient(135deg, $bg-color 0%, $bg-color-2 100%);
	}
}

.match-team-blue {
	.layout {
		$bg-color: desaturate(lighten($blue-bg, 5), 10);
		$bg-color-2: $blue-bg;

		background-image: linear-gradient(135deg, $bg-color 0%, $bg-color-2 100%);
	}
}

footer {
	margin: 5rem 0 2rem;
}
