
@import './header';
@import './card';

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.layout {
	padding: .4rem;
	transition: border-color linear 1s, background-color linear 1s;
	background-color: $gray-lightest;
}

.match-team-red {
	.layout {
		@extend .team-red-bg;
	}
}

.match-team-green {
	.layout {
		@extend .team-green-bg;
	}
}

.match-team-blue {
	.layout {
		@extend .team-blue-bg;
	}
}

footer {
	margin: 5rem 0 2rem;
}
