.matches {
	// width: 100%;
	// display: flex;
	// flex-flow: column nowrap;
	// align-items: stretch;
	// justify-content: center;
	text-align: center;

	// @media (min-width: 50rem) {
	// 	flex-flow: row nowrap;
	// }

	.matches-region {
		@include media-breakpoint-up(lg) {
			display: inline-block;
			width: 47vw;
			max-width: 40em;
		}

		display: block;
		margin-bottom: 1rem;
		// display: inline-block;
		// columns: 20em auto;
		text-align: left;
		vertical-align: top;

		// & + .matches-region {
		// 	@media (max-width: 50rem) {
		// 		margin-top: 1rem;
		// 	}
		// }
	}

	.match {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;

		&:hover {
			// background-color: $gray-lightest;
			// @extend %paper-shadow-2;
		}

		& + .match {
			.match-worlds {
				padding: .5rem 0;
				border-top: 1px solid $gray-lighter;
			}
		}

		.match-scores-pie {
			width: 5rem;
			height: 5rem;
			margin: .5rem;
		}

		.match-worlds {
			width: 100%;
		}

		.match-world {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			width: 100%;
			padding: .3rem .6em;
			overflow: hidden;

			&:hover {
				text-decoration: none;

				&.team-red {
					@extend .team-red-bg;
				}

				&.team-blue {
					@extend .team-blue-bg;
				}

				&.team-green {
					@extend .team-green-bg;
				}
			}

			.match-world-name {
				display: block;
				flex-shrink: 1;
				max-width: 10rem;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.match-world-score {
				// width: 6em;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				margin-left: auto;

				.match-world-score-diff {
					padding-right: .5rem;
					font-size: .75rem;
					opacity: 0;

					&.active {
						animation: fadeinout 4s linear forwards;
					}
				}
			}
		}

	}
}

@keyframes fadeinout  {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
