footer {
    text-align: center;
    font-size: .7rem;
    line-height: 1.6;
    margin: 2rem 0;

    p, ul, li {
      margin: 0;
      padding: 0;
    }

    a {
      color: $brand-primary;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }

    .legal {
        li {
            margin: 0 1rem;
        }
    }
}
