
.loading-card {
  padding: 20px;
}

.institution-buttons {
  @include media-breakpoint-down(xs) {
    flex-flow: column nowrap;
  }

  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .btn {
    @include media-breakpoint-down(xs) {
      max-width: initial;
      width: 100%;
    }

    display: block;
    flex-grow: 1;
    margin: 1px;
    max-width: 33%;
  }
}

.card-list {
  column-width: 20rem;

  & > .card {
    display: inline-block;
    width: 100%;
    margin: 4px 4px 1rem;
  }
}

.programs-list {
  .card-block {
    margin: 0;
    padding: 0 0 2rem;
  }

  .list {
    margin: 0;
    padding: 0;   
    column-width: 18em;

    li {
      display: inline-block;
      width: 100%;

      a {
        @extend .icon-link;

        span {
          text-indent: -.5rem;
          padding-left: .5rem;
          line-height: 1.2;

          font-size: .8rem;

          &::first-line {
            font-size: 1rem; 
          }
        }
      }
    }
  }
}

.institution-nav {
  ul {
    @include list-unstyled;
    margin: 0;
    padding: 1rem 0;
   
    column-width: 18em;
    
    li {
      display: inline-block;
      width: 100%;

      a {
       @extend .icon-link;
      }

      .sharingbuttons {
        margin-top: 1rem;
        padding: 0 1rem;
        justify-content: center;
      }
    }
  }
  .card-header + ul {
    padding-top: 0;
  }
}
